* {
    margin: 0px;
    padding: 0px;
    font-family: 'Lato', sans-serif;
    font-family: 'Work Sans', sans-serif;
}

header {
    width: 1920px;
    height: 850px;
    background: rgba(229, 84, 115, 0.10)
}

header section {
    display: flex;
    justify-content: space-around;
    align-items: center;
    margin: 0px 240px;
}




.banner-title {
    color: #272727;
    font-size: 80px;
    font-weight: 700;
    line-height: normal;
    margin-bottom: 35px;
}

.banner-dis {
    color: rgba(39, 39, 39, 0.60);
    font-size: 18px;
    font-weight: 400;
    line-height: 30px;
    margin-bottom: 35px;
}

.btn {
    padding: 20px 43px;
    align-items: flex-start;
    gap: 10px;
    border-radius: 8px;
    background: #E55473;
    width: 177px;
    height: 64px;
    color: #FFF;
    font-size: 16px;
    font-weight: 700;
    border-style: none;
    cursor: pointer;
}

.banner-img {
    padding: 20px 0px 0px 20px;
    margin-top: 29px;
    margin-bottom: 0px;
}

.featured-sec {
    margin: 160px 240px 128px 240px;
}

.featured-box {
    display: flex;
    justify-content: space-around;
    margin: 24PX;
}

.featured-title {
    text-align: center;
    margin: 10px;
    padding: 10px;
}

.fratured-dis {
    color: rgba(39, 39, 39, 0.60);
    font-size: 16px;
    font-weight: 400;
    line-height: 30px;
    margin: 24px;
}

.featured-head {
    color: #272727;
    font-size: 40px;
    font-weight: 700;
}

.box {
    width: 464px;
    height: 538px;
    border-radius: 300px 300px 0px 0px;
    margin: 15px;
    padding: 10px;
    text-align: center;
    position: relative;

}

.box-img {
    position: absolute;
    top: 55%;
    left: 50%;
    transform: translate(-50%, -50%);
    padding: 10px;
}

.box1 {
    background-color: rgba(167, 33, 98, 0.15);

}

.box2 {
    background: rgba(5, 151, 160, 0.15);

}

.box3 {
    background-color: rgba(71, 125, 17, 0.15);
}


.featured-box div h4 {
    color: #272727;
    text-align: center;
    font-size: 24px;
    font-weight: 700;
    line-height: 35px;
    text-decoration-line: underline;
    cursor: pointer;
}

.box1 img {
    margin-top: 37px;
}

.box3 img {
    margin-top: 15px;
}

.hot-deal-section {
    display: flex;
    justify-content: space-around;
    align-items: center;
    text-align: center;
    width: 1920px;
    height: 620px;
    margin: 128px 200px;
}

#hot-deal-id {
    background: rgba(229, 84, 115, 0.05);
}

.hot-deal-img {
    margin-right: 418px;
}

.deal-title>samp {
    color: #ff0037d5;
}

.deal-title {
    color: #272727;
    font-size: 40px;
    font-weight: 700;
    line-height: normal;
    margin-bottom: 24px;
}

.deal-dis {
    color: rgba(39, 39, 39, 0.60);
    font-size: 18px;
    font-weight: 400;
    line-height: 30px;
    margin-bottom: 32px;
}

.insta {
    text-align: center;
}

.inta-box {}

.insta-img {
    padding: 24px;
    width: 342px;
    height: 396px;
}